// @import './Chat';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$highlight: #D81B60;
$chat-bg: #1E1E24;

body {
  background-color: #282c34;
  max-height: 90vh;
}

.mtsrt {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-style: italic;
}

.App {
  text-align: center;
  // max-width: 728px;
  background-color: #181717;
}

.header {
  background-color: #181717;
  
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
  height: 8%;
  @media only screen and (min-width: $lg) {
    top: 0%;
    left: 0%;
    width: 100%;
    min-height: 50px;
  }
}

.footer {
  background-color: #181717;
  color: white;
  position: fixed;
  width: 80%;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
  height: 5%;
  display: none;
  @media only screen and (min-width: $lg) {
    display:flex;
  }
}

.nav-bar-mobile {
  margin-top: 1rem;
}

.nav-bar-mobile__btn {
  border-radius: 0.2rem;
  border: 0.1rem solid #2c364a;
  padding: 0.25rem 0.5rem;
  display: flex;
}

.nav-bar-show {
  position: absolute;
  top: 98%;
  background-color: rgba($chat-bg, 0.9);
  padding: 0.1rem;
  border-radius: 0.2rem;
  width: 65%;
}

main {
  padding: 10px;
  height: 80vh;
  margin: 10vh 0 10vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.version-btn {
  cursor: pointer;
}

.version-btn:hover {
  color: $highlight;
}

.chat-message-bot{
  text-align: center;
  border-radius: 0.2rem;
  background-color: lighten(#1E1E24, 10);
  font-size: 0.8rem;
  padding: 0.5rem;
  text-transform: uppercase;
}

.playlist-div{
  position: absolute;
  top: 50%;
  background-color: #1E1E24;
  z-index: 1;
  width: 100%;
  height: 45%;
  
  padding-bottom: 0!important;
  @media only screen and (min-width: $lg) {
    top: 6%;
    left: 80%;
    width: 20%;
    height: 94%;
    padding-top: 0.75rem
  }
}

.playlist-table{
  height: 92%;
  overflow: scroll;
}

.playlist-table::-webkit-scrollbar {
  width: 8px;
  height: 0px;
}

.playlist-table::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

.playlist-table::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: $highlight;
}

.chat-messages-div{
  position: absolute;
  top: 50%;
  background-color: #1E1E24;
  z-index: 1;
  width: 100%;
  height: 45%;
  overflow: scroll;
  padding-bottom: 0!important;
  @media only screen and (min-width: $lg) {
    top: 6%;
    left: 80%;
    width: 20%;
    height: 89%;
    padding-top: 0.75rem
  }
}

.chat-message {
  text-align: left!important;
}
.chat-message:hover{
  transition: 100ms;
  border-radius: 0.25rem;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  background-color: lighten(#1E1E24, 10);
}

.chat-messages-div::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

.chat-messages-div::-webkit-scrollbar-track {
  background: #1E1E24;
}

.chat-messages-div::-webkit-scrollbar-thumb {
  background: #6649b8;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


.sign-in {
  color: #282c34;
  background: white;
  max-width: 400px;
  margin: 0 auto;
}

.sign-in-btn {
  background-color: #282c34!important;
  border-radius: 0.25rem!important;
  border: solid 0.1rem $highlight!important;
  transition: 200ms;
}

.footer-btn {
  background-color: #282c34!important;
  border-radius: 0.25rem!important;
  border: solid 0.1rem $highlight!important;
  transition: 200ms;
  padding: 0!important;
  height: 100%;
}

.sign-in-btn:hover {
  background-color: $highlight!important;
  border-radius: 0.25rem!important;
  border: solid 0.1rem $highlight!important;
  transition: 200ms;
}

ul, li {
  text-align: left;
  list-style: none;
}

.messages-username {
  text-align: right;
  color: white;
  text-decoration: none;
}

.message-text{
  color: white;
  text-decoration: none;
  word-break: break-all;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;

}

.profile-img-header {
  @media only screen and (min-width: $lg) {
    margin-top: 0.6rem;
  }
}

.row {
  --bs-gutter-x: 0!important;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0!important;
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

.audio-player-display{
  height: 90.95vh;
  width: 90vw;
  background-size: cover;
  background-attachment: fixed;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  background-position: center;
  transform: scale(1.2);
  @media only screen and (min-width: $lg) {
    background-position: right;
    width: 80vw;
  }
}

.users-display {
  margin-top: 5rem;
}

.cover-img {
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
  height: 45%;
  max-width: 95%;
  @media only screen and (min-width: $lg) {
    top: 20%;
    left: 20%;
    width: 30%;
    height: auto;
  }
}

.song-txt{
  text-align: left;
  background-color: rgba(#080808,0.9);
  color: #e5e5ea;
  position: absolute;
  top: 45%;
  left: 0;
  z-index: 5;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  @media only screen and (min-width: $lg) {
    background-image: linear-gradient(to right, #080808, rgba(#080808,0.3));
    top: 50%;
    left: 35%;
    width: 45%;
  }
}
.song-txt h1, h2, h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1;
}
.ml-2{
  margin-left: 0.5rem;
}
.mt-2{
  margin-top: 0.5rem;
}

.song-txt h1 {
  font-size: 1.5rem;
}
.song-txt h2 {
  font-size: 1.2rem;
}
.song-txt h4 {
  font-size: 1rem;
}

.bg-overlay {
  background-color: rgba(#181717, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
}

.rhap_container {
  background-color: rgba(red, 0)!important;
  box-shadow: none!important;
  padding: 10px!important;
}

.rhap_time {
  color: white!important;
}

.rhap_progress-indicator, .rhap_progress-filled, .rhap_volume-indicator {
  background: #0b93f6!important;
}
.rhap_volume-button {
  color: #0b93f6!important;
}

form button {
  // width: 10%;
  background-color: rgb(56, 56, 143);
}


input {
  // line-height: 1.5;
  width: 100%;
  font-size: 1.5rem;
  background: rgb(58, 58, 58);
  color: white;
  outline: none;
  border: none;
  padding: 0 10px;
}

.send-btn {
  border-radius: 0!important;
  background-color: #2c4c8d!important;
  border: none!important;
  color: white!important;
}

.send-message{
  z-index: 4;
  height: 5%;
  min-height: 2rem;
  bottom: 0;
  width: 100%;
  position: absolute;
  display: flex;
  background-color: rgb(24, 23, 23);
  font-size: 1.5rem;
  @media only screen and (min-width: $lg) {
    left: 80%;
    width: 20%;
  }
}

.sign-to-message{
  z-index: 4;
  height: 5%;
  bottom: 0;
  width: 100%;
  position: absolute;
  display: flex;
  background-color: rgb(24, 23, 23);
  color: white;
  font-size: 1rem;
  text-align: center;
  @media only screen and (min-width: $lg) {
    left: 80%;
    width: 20%;
  }
}

.sign-txt {
  font-size: 1rem;
  color: #0b93f6;
  cursor: pointer;
}

.audio-test {
  position: absolute;
  z-index: 10;
}

.pic-select {
  width: 6rem;
  border-radius: 0.5rem;
  margin: 0.2rem;
  transition: 300ms;
  border: none;
  border: 0.2rem solid rgba($highlight, 0);
}

.pic-select:hover {
  width: 6rem;
  transition: 300ms;
  border: 0.2rem solid rgba($highlight, 0.5);
}

.pic-select-active {
  transition: 300ms;
  width: 6rem;
  border: 0.2rem solid $highlight;
  background-color: $highlight;
  -webkit-box-shadow: inset 0 0 15px #2c364a;
  -moz-box-shadow: inset 0 0 15px #2c364a;
  box-shadow: inset 0 0 15px #2c364a;
}

.modal {
  --bs-modal-zindex: 1054;
  --bs-modal-width: 1000px!important;
  --bs-modal-padding: 1rem;
  --bs-modal-margin: 0.5rem;
  --bs-modal-color: white!important;
  --bs-modal-bg: #1E1E24!important;
  --bs-modal-border-color: var(--bs-border-color-translucent);
  --bs-modal-border-width: var(--bs-border-width);
  --bs-modal-border-radius: var(--bs-border-radius-lg);
  --bs-modal-box-shadow: var(--bs-box-shadow-sm);
  --bs-modal-inner-border-radius: calc(var(--bs-border-radius-lg) - (var(--bs-border-width)));
  --bs-modal-header-padding-x: 1rem;
  --bs-modal-header-padding-y: 1rem;
  --bs-modal-header-padding: 1rem 1rem;
  --bs-modal-header-border-color: var(--bs-border-color);
  --bs-modal-header-border-width: var(--bs-border-width);
  --bs-modal-title-line-height: 1.5;
  --bs-modal-footer-gap: 0.5rem;
  --bs-modal-footer-bg: ;
  --bs-modal-footer-border-color: var(--bs-border-color);
  --bs-modal-footer-border-width: var(--bs-border-width);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--bs-modal-zindex);
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.profile-dropdown {
  background-color: rgba($color: #000000, $alpha: 0)!important;
  border: none!important;
  padding: 0!important;
}

.station-link {
  background-repeat: no-repeat!important;
  background-size: cover!important;
  background-position: center;
  border-radius: 0.25rem;
  margin-left: 0.25rem;
  padding: 0!important;
  // background-color: #282c34;
  min-height: 2rem;
  @media only screen and (max-width: $lg) {
    width: 100%;
    min-height: 3rem;
    margin-top: 0.25rem;
  }
}

.negative-margin-station {
  margin-top: -0.27rem;
}

.station-link-border {
  border-radius: 0.25rem;
  border: 0.1rem solid gray;
  margin: 0 0.15rem;
  height: 90%;
  transition: 200ms;
  width: 100%;
}

.station-link-border:hover {
  border: 0.1rem solid $highlight;
  transition: 200ms;
}

.station-link-border-deactive {
  border-radius: 0.25rem;
  border: 0.1rem solid gray;
  margin: 0 0.15rem;
  height: 90%;
  color: gray!important;
  cursor: default!important;
}


.station-link__div{
  transition: 200ms;
  padding: 0.1rem;
}

.station-txt {
  z-index: 10;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  line-height: 1;
  padding-bottom: 0.25rem;
  color: white!important;
  min-width: 13rem;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.9);
  @media only screen and (max-width: $lg) {
    font-size: 1.2rem;
    text-shadow: 5x 5x 4px rgba(0, 0, 0, 0.9);
  }
}
.station-txt-deactive {
  color: gray!important;
}

.lock-icon {
  width: 2rem;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 1rem;
  margin-top: 1rem;
}

.station-txt__event-label {
  font-size: 1rem;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 0.5rem;
}
.station-txt__event {
  font-size: 0.8rem;
  text-align: left;
  line-height: 1;
  padding-left: 0.2rem;
  border-radius: 20rem;
  background-image: linear-gradient(to right, rgba(black, 0.8), rgba(black, 0));
}

.hover-underline-animation {
  // display: inline-block;
  position: relative;
  // color: $highlight;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $highlight;
  transform-origin: bottom right;
  transition: transform 0.15s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.volume-button {
  background-color: $highlight;
  font-size: 1.5rem;
  border: none!important;
  padding: 0.25rem 0rem !important;
  // margin-right: 0.25rem;
  width: 31%;
  text-align: center;
  display: flex;
  justify-content: center;
  color: white;
  border-radius: 0.5rem;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 1);
  margin: 0rem 0.1rem;
}

.volume-button:hover {
  // background-color: lighten($highlight, 8)!important;
}
.volume-button-off, .volume-button-off:hover {
  // background-color: darken($highlight, 10)!important;
}

.volume-button-play {
  width: 100%!important;
}
.volume-icon {
  height: 2rem;
  width: 2rem;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.9);
}


element.style {
  width: 70.216%;
}
.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: var(--bs-progress-bar-color);
  text-align: center;
  white-space: nowrap;
  // background-color: $highlight!important;
  transition: var(--bs-progress-bar-transition);
}

.present-icon {
  width: 2rem;
  height: 2rem;
  color: lighten($highlight, 8);
  cursor: pointer;
  margin-top: 0.4rem;
}

.present-icon-none {
  color: gray;
}

.present-count {
  border-radius: 10rem;
  background-color: red;
  font-weight: bold;
}

.list-cover-img{
  height: 50px;
}

.p-0 {
  padding: 0!important;
}

.list-txt {
  width: 30%;
  overflow: hidden;
  flex-wrap: nowrap;
}

.playlist-add-img {
  width: 8rem;
  margin: -0.5rem 0.25rem
}
.playlist-song-title {
  text-align: left;
  color: white;
  padding-left: 0.2rem;
}

.playlist-tr {
  border: solid 1px #181717;
  border-radius: 0.2rem;
  cursor: pointer!important;
  width: 100%!important;
}

.playlist-tr:hover {
  transition: 100ms;
  background-color: lighten(#1E1E24, 5);
}

.playlist-tr-current {
  border-radius: 0.25rem;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  background-color: lighten(#1E1E24, 10);
}

.react-select-container {
  .react-select__control {
    background-color: var($chat-bg);
    border-color: var(--border-color);
    transition: none;

    &:hover {
      border-color: var(--border-color);
    }
  }

  .react-select__menu {
    background-color: var($chat-bg);
    border: 1px solid var(--border-color);
  }

  .react-select__option {
    background-color: var($chat-bg);

    &:hover {
      background-color: var(--bg-primary);
    }
  }

  .react-select__indicator-separator {
    background-color: var(--border-color);
  }

  .react-select__placeholder,
  .react-select__single-value {
    color: var(--text-primary);
  }
}


.calender-event__table {
  height: 95vh;
  margin-bottom: 0!important;
  overflow: hidden;
}

.calender-event__item {
  margin-top: 0.1rem;
  border-radius: 0.25rem;
  background-position: right;
}

.calender-event__txt {
  font-size: 1.2rem;
  border-radius: 0.25rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
  font-weight: bold;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.1);
}

.playlist-display {
  background-color:#282c34;
  color: white;
}

.header-icon {
  width: 2rem;
  height: 2rem;
  color: white;
}

.header-icon-unavaible {
  width: 2rem;
  height: 2rem;
  color: rgb(80, 80, 80);
}

.station-label {
  white-space:nowrap;
  position: absolute;
  padding: 5px 50px;
  // min-width: 300px;
  transform: rotate(-20deg) translate(-37%, 0);
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  top: -15px;
  box-sizing: border-box;
  background-color: #282c34;
  font-size: 1rem;
  font-weight: bold;
  display: none;
  @media only screen and (min-width: $lg) {
    display: block;
  }
}

.stations-m {
  @media only screen and (min-width: $lg) {
    margin-left: 1.5rem;
  }
}

.event-calendar__td {
  @media only screen and (min-width: $lg) {
    width: 14.28%;;
  }
}

.volume-input {
  height: 24px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  margin-left: -0.3rem;
}
.volume-input:focus {
  outline: none;
}
.volume-input::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: #d3d0e6;
  border-radius: 1px;
  border: 0px solid #000000;
}
.volume-input::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  height: 18px;
  width: 14px;
  border-radius: 25px;
  background: lighten($highlight, 10);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.5px;
}
.volume-input:focus::-webkit-slider-runnable-track {
  background: #A89DE3;
}
.volume-input::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #A89DE3;
  border-radius: 1px;
  border: 0px solid #000000;
}
.volume-input::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #2497E3;
  height: 18px;
  width: 14px;
  border-radius: 25px;
  background: #FF5762;
  cursor: pointer;
}
.volume-input::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.volume-input::-ms-fill-lower {
  background: #A89DE3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
.volume-input::-ms-fill-upper {
  background: #A89DE3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
.volume-input::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #2497E3;
  height: 18px;
  width: 14px;
  border-radius: 25px;
  background: #FF5762;
  cursor: pointer;
}
.volume-input:focus::-ms-fill-lower {
  background: #A89DE3;
}
.volume-input:focus::-ms-fill-upper {
  background: #A89DE3;
}

input {
  background: 0;
}

.ratings {
  height: 100%;
  display: none!important;
  @media only screen and (min-width: $lg) {
    display: flex!important;
  }
}

.playlist-select{
  color: white!important;
  background-color: lighten(#1E1E24, 5);
  border-radius: 0.2rem;
  border: 0.1rem solid #2c364a;
  cursor: pointer;
  background-repeat: no-repeat!important;
  background-size: cover!important;
  background-position: left;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1),
             4px 0px 22px rgba(8, 48, 69, 1);
}
.playlist-select:hover {
  border-color: $highlight;
  transition: 200ms;
}
.playlist-select-active {
  border-color: $highlight;
  transition: 200ms;
}

.playlist-select__overlay{
  width: 100%;
  height: 100%;
  background-color: rgba(#000000, 0.2);
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  font-size: 0.9rem;
  display: flex;
}

.playlist-select__overlay-txt {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-playlist {
  font-size: 0.9rem!important;
}

.playlist-selector {
  cursor: pointer;
  position: absolute;
  background-color: #282c34;
  width: 100%;
  overflow: scroll;
  transition: 200ms;
  @media only screen and (min-width: $lg) {
    width: 90%;
    overflow: scroll;
    max-height: 70vh;
    border-radius: 0 0.25rem 0.25rem 0.25rem;
  }
}

.playlist-selector::-webkit-scrollbar {
  width: 2px;
  height: 0px;
}

.playlist-selector::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

.playlist-selector::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: $highlight;
}


.playlist-selector__item {
  color: white;
  font-size: 1.1rem;
  font-weight: bolder;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1),
             4px 0px 22px rgba(8, 48, 69, 1);
  border-bottom: solid 1px lighten(#1E1E24, 15);
}

.playlist-selector__overlay {
  padding: 0.8rem 0!important;
  margin: auto;
  font-size: 0.8rem!important;
  background-color: rgba(#000000, 0.15);
}

.cursor-default {
  cursor: default!important;
}

$thumb-size: 16px;

@mixin track-styles {
  appearance: none;
  background: transparent;
  border: transparent;
}

@mixin thumb-styles {
  appearance: none;
  pointer-events: all;
  width: $thumb-size;
  height: $thumb-size;
  border-radius: 0px;
  border: 0 none;
  cursor: grab;
  background-color: red;

  &:active {
    cursor: grabbing;
  }
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin: 40px calc(#{$thumb-size} / 2);
  padding-top: 1.6rem;
  height: calc(#{$thumb-size} + 1.6rem);
}

.input-wrapper {
  width: calc(100% + #{$thumb-size});
  margin: 0 calc(#{$thumb-size} / -2);
  position: absolute;
  height: $thumb-size;
}

.control-wrapper {
  width: 100%;
  position: absolute;
  height: $thumb-size;
}

.input {
  position: absolute;
  width: 100%;
  pointer-events: none;
  appearance: none;
  height: 100%;
  opacity: 0;
  z-index: 3;
  padding: 0;

  &::-ms-track {
    @include track-styles;
  }

  &::-moz-range-track {
    @include track-styles;
  }

  &:focus::-webkit-slider-runnable-track {
    @include track-styles;
  }

  &::-ms-thumb {
    @include thumb-styles;
  }

  &::-moz-range-thumb {
    @include thumb-styles;
  }

  &::-webkit-slider-thumb {
    @include thumb-styles;
  }
};

.rail {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  height: 6px;
  border-radius: 3px;
  background: lightgrey;
}

.inner-rail {
  position: absolute;
  height: 100%;
  background: hotpink;
  opacity: 0.5;
}

.control {
  width: $thumb-size;
  height: $thumb-size;
  border-radius: 50%;
  position: absolute;
  background: hotpink;
  top: 50%;
  margin-left: calc(#{$thumb-size} / -2);
  transform: translate3d(0, -50%, 0);
  z-index: 2;
}

.playlist-nosongs {
  color: white;
  font-size: 1.1rem;
}

.filter_chill {
  font-size: 1rem;
  background: #23B5CF;
  background: linear-gradient(to right, #23B5CF 0%, #00CFCC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 0.2rem;
  font-family: "Varela Round", sans-serif;
  font-weight: 900;
}

.filter_hype {
  background: #F8AF6B;
  background: linear-gradient(to right, #F8AF6B 0%, #E74D06 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.range-slider .range-slider__thumb {
  position: absolute;
  z-index: 3;
  top: 50%;
  width: 15px!important;
  height: 15px!important;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: $highlight!important;
}

.range-slider .range-slider__range {
  position: absolute;
  z-index: 1;
  transform: translate(0, -50%);
  top: 50%;
  width: 100%;
  height: 100%;
  background: lighten($highlight, 20)!important;
}
.stationplaylist-selector-txt-main{
  font-size: 1.4rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

.message-display {
  background-color: #181717;
  min-height: 100vh;
  color: white;
}

.reload-btn {
  font-weight: bold;
  color: $highlight;
  text-decoration: underline;
  cursor: pointer;
}

.reload-btn:hover {
  color: lighten($highlight, 5);
}

.loading-screen {
  position:absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  background-color: rgba(#1E1E24, 0.7);
  margin: auto;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-message__time {
  color: gray;
  font-size: 0.8rem;
  text-align: end;
  margin-top: 0.2rem;
}